<header>
  <div class="container-fluid chunkyness" id="head">
    <div class="container">
      <div class="row">
        <div class="col-1 dnsim-title">
          <a href="/" class="dnsim-logo">
            <span class="dnsim-logo-dn">DNT</span>
            <br />
            <span class="dnsim-logo-gearsim">viewer</span>
          </a>
        </div>
        <div class="col-11 dnsim-title text-right">
          <h1 class="hidden-xs header-title">
            dragon nest table viewer
          </h1>
          &nbsp;
          <app-region></app-region>
        </div>
      </div>
    </div>
  </div>
</header>