
.toggle-box-button {
    float: left;
    display: block;
    height: 24px;
    width: 44px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 0px;
    border-style: none;
    font-size: 75%;
    }
    .dark-toggle {
    background: url('../../../assets/images/dark_toggle.png') no-repeat center center;
    color: #8d8578;
    }
    .light-toggle {
    background: url(../../../assets/images/light_toggle.png) no-repeat center center;
    color: white;
    }
    .toggle-text {
    background-color: rgba(0,0,0,0);
    float: left;
    display: block;
    height: 25px;
    color: white;
    border-style: none;
    border-color: #070506;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    margin-top:0px;
    margin-bottom: 3px;
    }
    .toggle-box {
    float: right;
    clear: right;
    background-color: rgba(0,0,0,0);
    color: #777;
    font-size: 15.6px;
    font-weight: 400;
    }
    
    .region-heading {
    font-size: 24px;
    color: #777;
    }
    
    .no-region {
    position: relative;
    background: #070506;
    border: 4px solid #8d8578;
    opacity: 0.8;
    filter: alpha(opacity=80);
    float: right;
    height: 140px;
    width: 180px;
    color: #777;
    text-align: center;
    }
    .no-region:after, .no-region:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    }
    
    .no-region:after {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #070506;
    border-width: 30px;
    margin-left: -30px;
    }
    .no-region:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #8d8578;
    border-width: 36px;
    margin-left: -36px;
    }