<div class="toggle-box">
  <button class="light-toggle toggle-box-button" (click)="edit = !edit;" title="{{regionService.region.name}}">
    {{regionService.region.region}}
  </button>
  <span>
    &nbsp;{{dntVersion}}
  </span>
</div>
<div *ngIf="edit" class="toggle-box">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 region-heading">
        <br /> select region
        <br>
        <small>지역 선택 / 选择地区 </small>
      </div>
    </div>
    <div class="row" *ngFor="let currentLocation of regionService.regions">

      <div class="col-8 text-right">
        <button href="#" class="text-left btn-link btn-block region-hover toggle-text" (click)="setRegion(currentLocation)"
          (mouseenter)="hoverLocation = currentLocation"
          (mouseleave)="hoverLocation = regionService.region">
          {{currentLocation.name}}
        </button>
      </div>
      <div class="col-2">
        <button class="toggle-box-button" [ngClass]="{'dark-toggle' : currentLocation != hoverLocation, 'light-toggle' : currentLocation == hoverLocation}"
          (click)="setRegion(currentLocation)" title="{{currentLocation.name}}"
          (mouseenter)="hoverLocation = currentLocation"
          (mouseleave)="hoverLocation = regionService.region">
          {{currentLocation.region}}
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 region-heading">
        <br /> translation override
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="toggle-box-button" [ngClass]="{'dark-toggle' : !override, 'light-toggle' : override}" (click)="setOverride(true)"
          title="yes">
          yes
        </button>
        <button class="toggle-box-button" [ngClass]="{'dark-toggle' : override, 'light-toggle' : !override}" (click)="setOverride(false)"
          title="no">
          no
        </button>
      </div>
    </div>
    <div class="row" *ngIf="override">
      <div class="col-xs-12">
        <br /> translations
      </div>
    </div>
    <ng-container *ngIf="override">
      <div class="row" *ngFor="let currentLocation of regionService.regions">

        <div class="col-8 text-right">
          <button href="#" class="text-left btn-link btn-block region-hover toggle-text"
            (click)="setTLocation(currentLocation)"
            (mouseenter)="tHoverLocation = currentLocation"
            (mouseleave)="tHoverLocation = regionService.region">
            {{currentLocation.name}}
          </button>
        </div>
        <div class="col-2">
          <button class="toggle-box-button" [ngClass]="{'dark-toggle' : currentLocation != tHoverLocation, 'light-toggle' : currentLocation == tHoverLocation}"
            (click)="setTLocation(currentLocation)" title="{{currentLocation.name}}"
            (mouseenter)="tHoverLocation = currentLocation"
            (mouseleave)="tHoverLocation = regionService.tRegion">
            {{currentLocation.region}}
          </button>
        </div>

      </div>
    </ng-container>
    <br />
  </div>
</div>